@import "./assets/devtz007/sass/flex_lib";

/*-------------------------------------------------*\
                 body
\*-------------------------------------------------*/
body {
  position: relative;
}
/*-------------------------------------------------*\
                 header
\*-------------------------------------------------*/
#header {
  %--font-size {
    font-size: 1rem;
    font-weight: 700;

    @media screen and (max-width: 1400px) {
      & {
        font-size: 2rem;
      }
    }
    @media screen and (max-width: 800px) {
      & {
        font-size: 4em;
      }
    }
  }
  @include flex-cen;
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  padding: 0px 0;
  #gameinfo {
    @include flex-cen-row-justify-space-between;
    width: 100%;

    padding: 0;
    //background-color: #3d9c4b;
    .time-cont {
      @extend %--font-size;
    }
    #gamename {
      @extend %--font-size;
    }
    .move-count-cont {
      @extend %--font-size;
    }
  }

  #settingsinfo {
    @extend %--font-size;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;

    .settingsitem {
      @include flex-cen;
      position: relative;
      height: 100%;
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 130%;
        margin-left: -15%;
        height: 5px;
        box-shadow: 0 0 2em 0.5em #3d9c4b;
        bottom: 0em;
        z-index: -1;
        transition: bottom 300ms;
      }
    }
  }
}
//active
body[expanded="true"] #gameinfo {
  margin-top: calc(0px - var(--headers-height));
}
/*-------------------------------------------------*\
                 main
\*-------------------------------------------------*/
#main {
  @include flex-top;
  top: var(--headers-height);
  @media screen and (max-width: 1400px) {
    & {
      @include flex-cen;
    }
  }
}
#buttonwrapper {
  position: absolute;
  top: 10px;
  left: 0;
  @media screen and (max-width: 1400px) {
    & {
      @include flex-row;
    }
  }
  .btn {
    width: 75px;
    height: 75px;

    @media screen and (max-width: 900px) {
      & {
        width: 40px;
        height: 40px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        width: 35px;
        height: 35px;
      }
    }
    @media screen and (max-width: 300px) {
      & {
        width: 30px;
        height: 30px;
      }
    }
  }
  #hintbutton {
    &::before {
      @include flex-cen;
      content: attr(data-hints);
      position: absolute;
      color: white;
      text-align: center;
      width: 13px;
      height: 13px;
      padding: 0px;
      font-size: 10px;
      line-height: normal;
      border-radius: 50%;
      top: -3px;
      left: 60%;
      margin: 0;
    }
  }
}
/*-------------------------------------------------*\
                 #gamecontainer
\*-------------------------------------------------*/
#gamecontainer {
  //@include flex-cen-col;
  //background-color: black;
  width: 100vw;
  height: 70vh;
  margin-top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: 1400px) {
    & {
      margin-top: 0px;
      //background-color: black;
      width: 100vw;
      height: 80vh;
    }
  }
  .contentbar {
    margin-top: 15px;
    width: 100%;
    height: auto;
    @media screen and (max-width: 1400px) {
      & {
        gap: 0px;
        margin-top: 15px;
        width: 100%;
        height: auto;
        width: 100%;
      }
    }
    .pile {
      height: auto;
      margin-left: 0.2em;
      border-radius: 0.5em;
    }
  }
}

/*-------------------------------------------------*\
                 #gamecontainer
\*-------------------------------------------------*/

#actionscreen {
  #showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 5px;
    padding-bottom: 100px;
    .showcaseitem {
      @include flex-col;
      width: 100%;
      position: relative;
      width: 100%;
      height: 33vw;
      margin: 0em;
      left: 0em;

      .solitairethumb {
        flex: 1 1 100%;
        width: 100%;
        height: calc(100% - 15px);
      }
      p {
        padding: 10px 0;
        @include flex-cen;
        flex: 1 1 15px;
        height: auto;
        font-size: 2.5em;
        margin: 0;
      }
    }

    @media screen and (max-width: 800px) {
      & {
        .showcaseitem {
          height: 225px;

          p {
            font-size: 2.5em;
          }
        }
      }
    }
    @media screen and (max-width: 700px) {
      & {
        .showcaseitem {
          height: 185px;
        }
      }
    }
    @media screen and (max-width: 500px) {
      & {
        .showcaseitem {
          height: 150px;

          p {
            font-size: 3em;
          }
        }
      }
    }
    @media screen and (max-width: 300px) {
      & {
        .showcaseitem {
          height: 150px;

          p {
            font-size: 3em;
          }
        }
      }
    }
  }

  .actionwrapper:nth-child(2) {
    @media screen and (max-width: 900px) {
      & {
        #inputarea {
          .lbl {
            font-size: 3rem;
          }
          .inputitem {
            font-size: 3rem;
          }
          margin: 0;
          margin-top: 50px;
          padding: 15px;
          font-size: 120%;
        }
      }
    }
  }

  .actionwrapper:nth-child(3) {
    h1 {
      font-size: 2rem;
      margin-bottom: 15px;
      line-height: normal;
    }
    h2 {
      font-size: 1.5rem;
      margin-bottom: 5px;
      padding-bottom: 0;
      border-bottom: 0px dashed rgba(255, 255, 255, 0.3);
      line-height: normal;
    }
    p {
      font-size: 1rem;
      line-height: normal;
    }
    @media screen and (max-width: 900px) {
      & {
        h1 {
          font-size: 1.5rem;
        }
        h2 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
#inputarea {
  .lbl {
    font-size: 2.5rem;
  }
  .inputitem {
    font-size: 2.5rem;
  }
  margin: 0;
  margin-top: 150px;
  padding: 15px;
  font-size: 120%;
}
/*-------------------------------------------------*\
                 others
\*-------------------------------------------------*/

.d-none {
  display: none !important;
}
